@tailwind base;
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}
  
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

*::-webkit-scrollbar-corner {
    visibility: hidden;
}

*::-webkit-resizer {
    visibility: hidden;
}

*::-webkit-scrollbar-track {
    /* background: var(--primary); */
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--primary);
}
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

:root {
    --primary: #434654;
    --secondary: #11A37F;
}

@layer components {
    .new-line {
        white-space: pre-line;
    }

    .infoText {
        @apply p-2 bg-gray-700/40 text-white rounded-lg max-w-[300px]
    }

    .chatRow {
        @apply rounded-lg mx-1 mb-3 flex text-sm items-center justify-center 
        space-x-2 hover:bg-[#11A37F] hover:bg-opacity-30 cursor-pointer text-gray-300 
        transition-all duration-200 ease-out
    }

    .model {
        @apply rounded-lg mx-3 mb-3 flex text-sm items-center justify-center 
        space-x-2 hover:bg-gray-500/70 cursor-pointer text-gray-200 
        transition-all duration-200 ease-out
    }
}